.blanced-fund-box {
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
}
.blanced-fund-box .graph-box1 {
  border-right: 0px solid #d1d1d1;
}

.blanced-fund-box .graph-box1:after{
content: "";
  background-color: #E7E7E7;
  position: absolute;
  width: 4px;
  height: 100%;
  top: 0px;
  left: 100%;
  display: block;}

.blanced-fund-box .graph-box {
  border-left: 4px solid #E7E7E7; 
}
.blanced-fund-box .graph-box .graph-content {
  margin: 0;
  padding: 0 0 15px 0;
  position: relative;
  width: 100%;
}
.blanced-fund-box .graph-box .graph-content .graph-img {
  width: 100%;
}
.blanced-fund-box .year-list {
  /*margin: 0 0 30px 0;*/
  padding: 0;
  list-style: none;
  text-align: right;
  font-size: 0; padding-bottom: 30px;
}
.blanced-fund-box .year-list li {
  margin: 0 10px 0 0;
  padding: 0;
  display: inline-block;
  font-size: 14px;
}
.blanced-fund-box .year-list li:last-child {
  margin-right: 0;
}
.blanced-fund-box .year-list li a {
  display: block;
  padding: 8px 10px;
  color: #656565;
  border: 1px solid #a8c3be;
  margin: 0;
  text-transform: uppercase;
}
.blanced-fund-box .year-list li.current a,
.blanced-fund-box .year-list li:hover a {
  background: #a8c3be;
  color: #656565;
  text-decoration: none;
}
.blanced-fund-box .return-list {
  margin: 0;
  padding: 0 0 20px 0;
  list-style: none;
  text-align: center;
  font-size: 0;
}
.blanced-fund-box .return-list li {
  margin: 0 4.6px 0 0;
  padding: 0;
  display: inline-block;
  font-size: 14px;
}
.blanced-fund-box .return-list li a {
  display: block;
  padding: 8px 6px;
  color: #656565;
  border: 1px solid #a8c3be;
  margin: 0;
  background: #a8c3be;
  text-transform: uppercase;
}
.blanced-fund-box .return-list li a span {
  font-weight:600;
}
.blanced-fund-box .return-list li a:hover {
  text-decoration: none;
}
.blanced-fund-box .graph-box .select-fund {
  margin: 0!important;
  padding: 0;
  width: 100%;
  text-transform: uppercase;
}
.blanced-fund-box .graph-box .select-fund select {
  padding: 10px;
    border-radius: 0!important;
  width: 100%;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  height: 49px;
  margin: 0!important;   
}
.select-funds{padding:0px;border: 1px solid #a8c3be;}
.blanced-fund-box .graph-box .select-fund span {
  padding: 10px;
    border: 1px solid #a8c3be;
    border-radius: 0!important;
    width: 100%;
    display: block;
    border-right: none;
    height: 51px;
}
.blanced-fund-box ul.fund-tabs {
  margin: 0;
  padding: 0;
  list-style: none;
}
.blanced-fund-box ul.fund-tabs li {
  background: #fff;
  color: #656565;
  display: inline-block;
  padding: 10px 0;
  cursor: pointer;
  margin: 0 10px;
  border-bottom: 2px solid #fff;
  font-size: 16px;
}
.blanced-fund-box ul.fund-tabs li:first-child {
  margin-left: 0;
}
.blanced-fund-box ul.fund-tabs li.current {
  background: #fff;
  color: #b60c2f;
  border-bottom: 2px dotted #b60c2f;
}
.blanced-fund-box .fund-tab-content {
  display: none;
  background: #fff;
  padding: 15px 0;
  color: #656565;
}
.blanced-fund-box .fund-tab-content .red {
  color: #b60c2f;
}
.blanced-fund-box .fund-tab-content.current {
  display: inherit;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .blanced-fund-box .return-list li a {
    font-size: 12px;
    padding: 8px 2px;
  }
}
@media (max-width: 991px) {
  .blanced-fund-box .year-list {
    text-align: center;
  }
  .blanced-fund-box .graph-box {
    padding: 30px 15px;
    border-left: none;
    border-top: 5px solid #ccc;
  }
}
@media (max-width: 767px) {
  .blanced-fund-box .year-list li {
    margin: 0 5px;
  }
  .blanced-fund-box .return-list li {
    margin: 5px;
  }
}

.fund-img-box {
  margin: 0;
  padding: 0;
  border-top: #e7e7e7 4px solid;
}
.fund-img-box ul {
  list-style-type: none;
  position: relative;
  width: 100%;
  padding: 45px 100px;
  margin: 0;
}
.fund-img-box ul li {
  float: left;
}
.fund-img-box ul li .img-box {
  margin: 0;
  padding: 0;
}
.fund-img-box ul li .img-box img {
  width: 100%;
  max-width: 100%;
}
.fund-img-box ul li .title {
  background: #e3edec;
  padding: 10px;
  color: #656565;
  text-transform: uppercase;
    width: 150px;
    font-size: 14px
}

.blanced-fund-btn .btn-meet-leaders {
  font-size: 16px;
}
.blanced-fund-btn-list {
  margin: -115px 30px 0 0;
  padding: 0;
  float: right;
}
.blanced-fund-btn-list li {
  display: block;
  margin: 4px 0;
}
.blanced-fund-btn-list li a.red {
  background: url("../../../../assets/images/red-arrow-icon.jpg") no-repeat
    right;
}

a.btn-invest-now-red span{
    padding: 10px 20px 10px 20px;
    display: block;
    background: #e9c2c9;
    font-size: 14px;
    color: #656565;
    font-weight: 500;
}
a.btn-invest-now-red span:hover{
    background: #d98b9c;
    color: #333;
}
a.btn-invest-now-red{
    display: inline-block;
    background: #b30b2e url('/assets/images/buttons-new/buttons_more.png') no-repeat right center;
    padding-right: 50px;
    width: 200px;
}
a.btn-invest-now-green span{
    padding: 10px 20px 10px 20px;
    display: block;
    background: #c5dad7;
    font-size: 14px;
    color: #656565;
    font-weight: 500;
}
a.btn-invest-now-green span:hover{
    background: #c5d9e2;
    color: #333;
}
a.btn-invest-now-green{
    display: inline-block;
    background: #8abbb6 url('/assets/images/buttons-new/buttons_more.png') no-repeat right center;
    padding-right: 50px;
    width: 200px;
}

.link-img-box{
    width: 150px;
    height: 150px;
    display: block;
    background-size: cover!important;
}
.btn-tax-free .link-img-box{
    background: url(https://dev.omangom.com/kagiso/wordpress/wp-content/uploads/2019/06/taxfree.png) no-repeat;
}
.btn-top-10-holdings .link-img-box{
    background: url(https://dev.omangom.com/kagiso/wordpress/wp-content/uploads/2019/06/top10.png) no-repeat;
}
.btn-form .link-img-box{
    background: url(https://dev.omangom.com/kagiso/wordpress/wp-content/uploads/2019/06/forms.png) no-repeat;
}
.btn-platforms .link-img-box{
    background: url(https://dev.omangom.com/kagiso/wordpress/wp-content/uploads/2019/06/platforms-1.png) no-repeat;
}

.btn-tax-free .link-img-box:hover{
    background: url(https://dev.omangom.com/kagiso/wordpress/wp-content/uploads/2019/06/taxfree-over.png) no-repeat;
}
.btn-top-10-holdings .link-img-box:hover{
    background: url(https://dev.omangom.com/kagiso/wordpress/wp-content/uploads/2019/06/top10-over.png) no-repeat;
}
.btn-form .link-img-box:hover{
    background: url(https://dev.omangom.com/kagiso/wordpress/wp-content/uploads/2019/06/forms-over.png) no-repeat;
}
.btn-platforms .link-img-box:hover{
    background: url(https://dev.omangom.com/kagiso/wordpress/wp-content/uploads/2019/06/platforms-1-over.png) no-repeat;
}

.btn-green-white{
    display: inline-block;
    padding-left: 60px;
    margin:0 10px;
    background-size:60px!important;
}
.btn-green-white span{
    padding: 5px 30px;
    height: 50px;
    text-align: left;
    display: inline-block;
    background: #fff;
    color: #656565;
    font-weight: 500;
    width: 200px;
    line-height: 20px;
    
}
.btn-green-white span:hover{
    background: #c8dbe5;
}
.btn-investment-approch{
    background: url(https://dev.omangom.com/kagiso/wordpress/wp-content/uploads/2019/06/meet-investment-approch.png) left center no-repeat #80ada7;
}
.btn-meet-fund-manager1{
    background: url(https://dev.omangom.com/kagiso/wordpress/wp-content/uploads/2019/06/meet-fund-manager.png) left center no-repeat #80ada7;
}
.btn-meet-insights{
    background: url(https://dev.omangom.com/kagiso/wordpress/wp-content/uploads/2019/06/meet-insights.png) left center no-repeat #80ada7;
}
.btn-investment-approch:hover{
    background: url(https://dev.omangom.com/kagiso/wordpress/wp-content/uploads/2019/06/meet-investment-approch-over.png) left center no-repeat #5b9dbe;
}
.btn-meet-fund-manager1:hover{
    background: url(https://dev.omangom.com/kagiso/wordpress/wp-content/uploads/2019/06/meet-fund-manager-over.png) left center no-repeat #5b9dbe;
}
.btn-meet-insights:hover{
    background: url(https://dev.omangom.com/kagiso/wordpress/wp-content/uploads/2019/06/meet-insights-over.png) left center no-repeat #5b9dbe;
}

/* --------------- Mobile CSS ---*/
@media screen and (max-width: 480px) {
    .blanced-fund-btn-list li{
        display: inline-block;
        margin: 15px 5px 0px;
    }
    .blanced-fund-btn-list{
        margin: 0;
        padding: 0;
        float: none;
        background: #fff;
    }
    .blanced-fund-box .graph-box{
        padding: 20px 40px;
        border-left: none;
        border-top: 5px solid #e7e7e7;
    }
    .blanced-fund-box .year-list{
        margin: 0 0 0px 0;
    }
    .blanced-fund-box .year-list li{
        margin: 5px 5px;
    }
    .blanced-fund-box .graph-box .select-fund span{
        border-right: 1px solid #a8c3be;
        font-size: 16px;
        border-radius: 0!important;
    }
    .blanced-fund-box .graph-box .select-fund select{
        margin-left: -10px;
        margin-top: 20px;
        font-size: 16px;
        border-radius: 0!important;
    }
    .fund-img-box ul li{
        float: none;
        text-align: center;
        margin-bottom: 20px;
    }
    .title{
        width: 100%!important;
    }
    .fund-img-box ul{
        padding: 45px;
    }
    .link-img-box{
        width: 100%;
        height: 260px;
    }
    .blanced-fund-btn a{
        display: block;
        margin-bottom: 20px;
    }
    .btn-green-white span{
        font-size: 16px;
    }
}
