<!-- start blanced fund -->
<section
  class="wow fadeIn bg-medium-gray-light "
  style="margin-top:110px"
  *ngIf="getStatus"
>
  <div class="container">
    <div class="row">
      <!-- start Unconventional thinking box item -->
      <div
        class="col-md-12 col-sm-12 col-xs-12 sm-margin-four-bottom xs-margin-30px-bottom wow fadeInUp unconventional-thinking blanced-fund-box"
        data-wow-delay="0.2s"
      >
        <div class="bg-white text-center">
          <h2>
            <img src="./assets/images/blanced-fund-bg.jpg" /> Blanced Funds
          </h2>

          <!-- btn-list -->
          <ul class="blanced-fund-btn-list">
            <li><a href="#" class="more-btn">FACT SHEETS</a></li>
            <li><a href="#" class="red more-btn">INVEST NOW</a></li>
          </ul>
          <!-- btn-list -->
          <div class="inner-match-height">
            <div class="row">
              <div class="col-md-5 padding-45px-all">
                <!-- Tab Menu -->
                <app-fund-tab></app-fund-tab>
                <!-- Tab Menu Closed -->
              </div>
              <div class="col-md-7 graph-box padding-45px-all">
                <ul class="year-list">
                  <li class="current"><a href="#">5 Years</a></li>
                  <li><a href="#">7 Years</a></li>
                  <li><a href="#">10 Years</a></li>
                  <li><a href="#">Since Inception</a></li>
                </ul>
                <div class="graph-content">
                  <app-graph></app-graph>
                </div>
                <ul class="return-list">
                  <li>
                    <a href="#">Fund Return <span>85.00%</span></a>
                  </li>
                  <li><a href="#">Benchmark Return 99.70%</a></li>
                  <li><a href="#">Outperformance 99.30%</a></li>
                </ul>
                <p>
                  *Average performance in South African Multi Asset High Equity
                  unit trust universe. Performance is based on a lump sum
                  investment using Class A Net Asset Value (NAV) prices with
                  income distributions reinvested. Performance figures are
                  quoted after the deduction of all costs incurred within the
                  fund. Source: Morningstar
                </p>
                <div class="select-fund">
                  <div class="row">
                    <div class="col-xs-6 col-md-5" style="padding-right:0">
                      <span>Select Another funds</span>
                    </div>
                    <div class="col-xs-6 col-md-7" style="padding-left:0">
                      <select>
                        <option>Blanced Fund</option>
                        <option>Blanced Fund 1</option>
                        <option>Blanced Fund 2</option>
                        <option>Blanced Fund 3</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="fund-img-box">
            <ul>
              <li class="col-md-3">
                <a href="#">
                  <div class="img-box">
                    <img
                      src="./assets/images/blanced-fund-tree.jpg"
                      class="img-responsive"
                    />
                  </div>
                  <div class="title">TAX FREE</div>
                </a>
              </li>
              <li class="col-md-3">
                <a href="#">
                  <div class="img-box">
                    <img
                      src="./assets/images/blanced-fund-forms.jpg"
                      class="img-responsive"
                    />
                  </div>
                  <div class="title">TOP10 HOLDINGS</div>
                </a>
              </li>
              <li class="col-md-3">
                <a href="#">
                  <div class="img-box">
                    <img
                      src="assets/images/blanced-fund-forms.jpg"
                      class="img-responsive"
                    />
                  </div>
                  <div class="title">FORMS</div>
                </a>
              </li>
              <li class="col-md-3">
                <a href="#">
                  <div class="img-box">
                    <img
                      src="assets/images/blanced-fund-forms.jpg"
                      class="img-responsive"
                    />
                  </div>
                  <div class="title">PLATFORMS</div>
                </a>
              </li>
              <div class="clearfix"></div>
            </ul>
          </div>
        </div>

        <!-- end Unconventional thinking box item -->
      </div>
    </div>
  </div>
</section>
<!-- end blanced fund -->
