<div class=" margin-30px-bottom-insight">
  <div class=" xs-no-margin-lr">
    <!-- <h2>{{ faqs.title.rendered }}</h2> -->
    <div class="row remove-margin equalize sm-equalize-auto">
      <div class="col-md-12 col-sm-12 col-xs-12 display-table  wow fadeInUp">
        <div
          class="display-table-cell-vertical-middle md-padding-ten-all sm-padding-six-all xs-no-padding-tb xs-no-padding-lr quaterly-images-accordan"
        >
          <div
            class="panel-group accordion-style2"
            id="accordion"
            *ngIf="categories"
          >
            <div
              class="panel panel-default"
              *ngFor="let category of categories; let i = index"
            >
              <div class="panel-heading">
                <a
                  class="accordion-toggle"
                  data-toggle="collapse"
                  data-parent="#accordion"
                  href="javascript:void(0)"
                  (click)="getYearPodcastPost(category, $event, isfirst)"
                >
                  <!-- #collapseTwo-{{ i }} -->
                  <div class="panel-title year-post">
                    <!-- <span
                          class="alt-font font-weight-600 text-deep-pink tab-tag"
                          >0{{ i + 1 }}</span 
                      >-->
                    <span
                      [ngClass]="{ active: selectedItem == category }"
                      class="text-extra-dark-gray xs-width-80 display-inline-block"
                      [innerHTML]="category.name"
                    ></span>
                    <div
                      class="indicator  pull-right"
                      [ngClass]="
                        category == currentData && isfirst
                          ? 'faq-minus'
                          : 'faq-plus'
                      "
                    ></div>
                  </div>
                </a>
              </div>
              <div
                id="collapseTwo-{{ i }}"
                class="panel-collapse collapse"
                [ngClass]="category == currentData && isfirst ? 'in' : 'none'"
                attr.aria-expanded="{{ isfirst }}"
              >
                <div class="panel-body bg-white">
                  <div class="repeat-podcast-loop">
                    <ul>
                      <li
                        *ngFor="let video of podcastVideo; let j = index"
                        [innerHTML]="video.content.rendered"
                      ></li>
                    </ul>
                  </div>

                  <!-- {{ faq.answer_label }} -->
                </div>
              </div>
            </div>
            <!-- end tab content -->
          </div>
          <!-- <div class="padding-30px-top padding-30px-bottom text-center">
                  <a routerLink="/faq" class="more-btn">MORE</a>
                </div> -->
        </div>
      </div>
    </div>
  </div>
</div>
