<footer
  class="footer-modern-dark bg-medium-black padding-three-tb xs-padding-30px-tb"
>
  <div class="footer-widget-area padding-40px-bottom xs-padding-30px-bottom">
    <div class="container">
      <div class="row">
        <div
          class="col-md-3 col-sm-12 col-xs-12 wow fadeInLeft"
          data-wow-delay="0.6s"
        >
          <div class="footer-logo">
            <img src="assets/images/kagiso-logo-grey.jpg" />
          </div>
        </div>
        <div
          class="col-md-3 col-sm-12 col-xs-12 wow fadeInLeft"
          data-wow-delay="0.6s"
        >
          <div class="footer-title">
            CONTACT
          </div>
          <div class="footer-text">
            <a href="mailto:info@kagisoam.com">info@kagisoam.com </a><br />
            <a href="tel:+2721673630">+27 21 673 6300 </a>
            <br />
            <br />
            <p>
              5th Floor MontClare <br />
              Place Cnr Campground and Main Roads <br />
              Claremont <br />
              Cape Town <br />
              7708
            </p>
            Map
          </div>
        </div>
        <div
          class="col-md-3 col-sm-12 col-xs-12 wow fadeInRight"
          data-wow-delay="0.6s"
        >
          <div class="footer-title">
            FUNDS
          </div>
          <div class="footer-text">
            <a href="#">South African funds </a><br />
            <a href="#">Global funds </a><br />
            <!--<a routerLink="/glossary">Glossary </a><br />
            <a routerLink="/meet-the-fund-manager">Meet Fund Manager </a><br />
            <a routerLink="/tax-free-investing">Text Free Investing </a><br />
            <a routerLink="/new-to-investing">New to Investing </a><br />
            <a routerLink="/forms-documents">Form & Document</a><br />
            <a routerLink="/complete-fund-range">Complete Fund Range</a><br />
            <a routerLink="/fact-sheets-archive">Fact sheet archive</a><br />-->
            <a routerLink="/sharia-investor/our-funds">Sharia funds </a><br />
            <a routerLink="institutional-investor/our-funds">Institutional funds </a>
            <br />
          </div>
          <div class="footer-title">
            <a href="#">LEGAL</a>
          </div>
          <div class="footer-title">
            <a href="#">SITEMAP</a>
          </div>
        </div>
        <div
          class="col-md-3 col-sm-12 col-xs-12 wow fadeInRight"
          data-wow-delay="0.6s"
        >
          <div class="footer-title">
            CONNECT
          </div>
          <div class="footer-text">
            <a href="mailto:info@kagisoam.com">Email me</a><br />
            <a href="#">Subscribe to UP quarterly</a>
            <br />
            <br />
            <a href="#">
              <img src="assets/images/footer-in.jpg" />
            </a>
            <a href="#" class="margin-30px-left">
              <img src="assets/images/footer-youtube.jpg" />
            </a>
          </div>
        </div>
      </div>
      <div
        class="copyright padding-40px-top text-center wow fadeInUp"
        data-wow-delay="0.6s"
      >
        Copyright @ 2019 Kagiso Asset Management.
        <br />
        All rights reserved.
      </div>
    </div>
  </div>
</footer>
