<!-- start about agency -->
<section class="wow fadeIn bg-light-gray" *ngIf="page">
  <div class="container  contact-sec">
    <div class="row">
      <!-- start Contact us box item -->
      <div
        class="col-md-12 col-sm-12 col-xs-12 sm-margin-four-bottom xs-margin-30px-bottom margin-100px-top wow fadeInUp"
        data-wow-delay="0.2s"
      >
        <div class="bg-white">
          <h2>Contact us</h2>
          <div class="padding-45px-all sm-padding-15px-all inner-match-height">
            <p class="margin-100px-lr text-deep-pinktext-deep-pink">
			<span class="contact-content">
              Our Client Services Team can be reached from Monday to Friday, 8am
              to 5pm on the number below, email or leave a message in the pop up
              message box.
			  </span>
            </p>
            <div class="row">
              <div class="col-md-6 col-sm-12 col-xs-12 margin-40px-top">
                <div class="box-1 padding-40px-all margin-40px-bottom">
                  <p>
                    Phone us on:
                    <span class="text-deep-pink">{{ page.acf.phone }}</span>
                  </p>
                  <p>
                    Fax us on:
                    <span class="text-black">{{ page.acf.fax }}</span>
                  </p>
                  <p>
                    Email us on:
                    <span class="text-black email"
                      ><a href="mailto:{{ page.acf.email_us_on }">
                        {{ page.acf.email_us_on }}</a
                      ></span
                    >
                  </p>
                </div>
                <div class="box-2 padding-5px-all no-padding-top margin-40px-bottom">
                  <div class="box-2-heading padding-15px-all">
                    Send us an email
                  </div>
                  <div class="box-2-content padding-20px-all">
                    <form
                      id="contact-form"
                      action="javascript:void(0)"
                      method="post"
                    >
                      <div>
                        <div
                          id="success-contact-form"
                          class="no-margin-lr"
                        ></div>
                        <input
                          type="text"
                          name="name"
                          id="name"
                          placeholder="Name"
                          class="bg-light-green no-border medium-input margin-5px-bottom"
                        />
                        <input
                          type="emailt"
                          name="email"
                          id="email"
                          placeholder="E-mail"
                          class="bg-light-green no-border medium-input margin-5px-bottom"
                        />
                        <input
                          type="tel"
                          name="subject"
                          id="subject"
                          placeholder="Telephone"
                          class="bg-light-green no-border medium-input margin-5px-bottom"
                        />
                        <input
                          type="text"
                          name="subject"
                          id="subject"
                          placeholder="Area of Interest"
                          class="bg-light-green no-border medium-input margin-5px-bottom"
                        />
                        <textarea
                          name="comment"
                          id="comment"
                          placeholder="Comment"
                          rows="5"
                          class="bg-light-green no-border medium-textarea margin-5px-bottom"
                        ></textarea>
                        <div class="padding-30px-top text-center ">
                          <a
                            href="#"
                            target="_blank"
                            class="more-btn text-black"
                            >SEND</a
                          >
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-sm-12 col-xs-12">
                <div
                  class="box-2 padding-5px-all no-padding-top margin-40px-bottom margin-40px-top"
                >
                  <div class="box-2-heading padding-15px-all">
                    Cape Town
                  </div>
                  <div class="box-2-content padding-20px-all">
                    <p class="email">
                      Telephone: {{ page.acf.telephone }}<br />
                      Fax: {{ page.acf.fax }}<br />
                      Email:
                      <a href="mailto:{{ page.acf.email }}">{{
                        page.acf.email
                      }}</a>
                    </p>
                    <br />
                    <p>
                      Physical address<br />
                      <span [innerHTML]="page.acf.physical_address"></span>
                      <!-- {{ page.acf.physical_address }} -->
                      

                      <a [href]="page.acf.google_map_url" class="text-deep-pink"
                        >[view map]</a
                      >
                    </p>
                    <br />
                    <p>
                      Postal address<br />
                      {{ page.acf.postal_address }}
                    </p>
                  </div>
                </div>

                <div
                  class="box-2 padding-5px-all no-padding-top margin-40px-bottom margin-40px-top"
                >
                  <div class="box-2-heading padding-15px-all">
                    {{ page.acf.johannesburg_name }}
                  </div>
                  <div class="box-2-content padding-20px-all padding-40px-bottom">
                    <p class="email">
                      Telephone: {{ page.acf.johannesburg_telephone }}<br />
                      Fax:{{ page.acf.johannesburg_fax }}<br />
                      Email:
                      <a href="mailto:{{ page.acf.johannesburg_email }}">{{
                        page.acf.johannesburg_email
                      }}</a>
                    </p>
                    <br />
                    <p>
                      Physical address<br /><span
                        [innerHTML]="page.acf.johannesburg_physical_address"
                      ></span>
                      <br />

                      <a
                        [href]="page.acf.johannesburg_google_map_url"
                        class="text-deep-pink"
                        >[view map]</a
                      >
                    </p>
                    <!--p>
                      Postal address<br />
                      {{ page.acf.postal_address }}
                    </p-->
                  </div>
                </div>

                <div class="box-2 padding-5px-all">
                 <div class="box-2-content padding-30px-all">
                    <!--p>
                      <input type="checkbox" class="robot-check" /> I’m not a  robot
                    </p -->
                    <p><!-- test -->
                      <label class="check-box"> I’m not a robot
  <input type="checkbox"  class="robot-check">
  <span class="checkmark"></span>
</label>
                      <!-- Test closed --></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end Contact us box item -->
    </div>
  </div>
</section>
<!-- end about agency section -->
