<!-- start about agency -->
<section class="wow fadeIn bg-light-gray" *ngIf="page">
  <div class="container  contact-sec">
    <div class="row">
      <!-- start Contact us box item -->
      <div
        class="col-md-12 col-sm-12 col-xs-12 sm-margin-four-bottom xs-margin-30px-bottom margin-120px-top xs-margin-80px-top wow fadeInUp"
        data-wow-delay="0.2s"
      >
       <div>
          <h2>Contact us</h2>
          <div class="padding-45px-all sm-padding-15px-all inner-match-height bg-white">
            <p class="xs-margin-20px-lr text-deep-pinktext-deep-pink">
			<span class="contact-content">
              Our client services team can be reached from Monday to Friday, 08:00
              to 17:00 on the number below, email or leave a message in the pop up
              message box.
			  </span>
            </p>
            <div class="row">
              <div class="col-md-6 col-sm-12 col-xs-12 margin-40px-top xs-margin-20px-top">
                <div class="box-1 padding-15px-all margin-30px-bottom xs-margin-20px-bottom">
                    <span class="text-deep-pink text-center">Client services</span>
                  <p>
                    Telephone
                    <span><a class="text-black" href="tel:{{ page.acf.phone }}">{{ page.acf.phone }}</a></span>
                  </p>
                  <p>
                    Fax
                    <span class="text-black">{{ page.acf.fax_us_on}}</span>
                  </p>
                  <p>
                    Email
                    <span class="text-black email"
                      ><a href="mailto:{{ page.acf.email_us_on }">
                        {{ page.acf.email_us_on }}</a
                      ></span
                    >
                  </p>
                </div>
                <div class="box-2 padding-5px-all no-padding-top margin-40px-bottom xs-no-margin-bottom">
                  <div class="box-2-heading padding-15px-all">
                    Send us an email
                  </div>
                  <div class="box-2-content padding-20px-all">
                    <form
                      id="contact-form"
                      action="javascript:void(0)"
                      method="post"
                    >
                      <div>
                        <div
                          id="success-contact-form"
                          class="no-margin-lr"
                        ></div>
                        <input
                          type="text"
                          name="name"
                          id="name"
                          placeholder="Name"
                          class="bg-light-green no-border medium-input margin-5px-bottom"
                        />
                        <input
                          type="emailt"
                          name="email"
                          id="email"
                          placeholder="Email"
                          class="bg-light-green no-border medium-input margin-5px-bottom"
                        />
                        <input
                          type="tel"
                          name="subject"
                          id="subject"
                          placeholder="Telephone"
                          class="bg-light-green no-border medium-input margin-5px-bottom"
                        />
                        <input
                          type="text"
                          name="subject"
                          id="subject"
                          placeholder="Area of interest"
                          class="bg-light-green no-border medium-input margin-5px-bottom"
                        />
                        <textarea
                          name="comment"
                          id="comment"
                          placeholder="Comment"
                          rows="5"
                          class="bg-light-green no-border medium-textarea margin-5px-bottom"
                        ></textarea>
                        <div class="padding-20px-top text-center ">
                          <a
                            href="#"
                            target="_blank"
                            class="more-btn text-black"
                            ><span>SEND</span></a
                          >
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-sm-12 col-xs-12">
                <div
                  class="box-2 padding-5px-all no-padding-top margin-30px-bottom margin-40px-top xs-no-margin-bottom xs-margin-20px-top"
                >
                  <div class="box-2-heading padding-15px-all">
                    Cape Town
                  </div>
                  <div class="box-2-content padding-20px-all">
                    <p class="email">
                      Telephone {{ page.acf.telephone }}<br />
                      Fax {{ page.acf.fax }}<br />
                      Email
                      <a href="mailto:{{ page.acf.email }}">{{
                        page.acf.email
                      }}</a>
                    </p>
                    
                    <p>
                      <strong>Physical address</strong><br />
                      <span [innerHTML]="page.acf.physical_address"></span>
                      <!-- {{ page.acf.physical_address }} -->
                    </p>
                    
                      <a [href]="page.acf.google_map_url" class="text-deep-pink"
                        >[view map]</a
                      >
                    <p>
                      <strong>Postal address:</strong><br />
                      {{ page.acf.postal_address }}
                    </p>
                  </div>
                </div>

                <div
                  class="box-2 padding-5px-all no-padding-top margin-30px-bottom  xs-margin-20px-top xs-margin-20px-bottom"
                >
                  <div class="box-2-heading padding-15px-all">
                    {{ page.acf.johannesburg_name }}
                  </div>
                  <div class="box-2-content padding-20px-all padding-30px-bottom">
                    <p class="email">
                      Telephone {{ page.acf.johannesburg_telephone }}<br />
                      Fax {{ page.acf.johannesburg_fax }}<br />
                      Email
                      <a href="mailto:{{ page.acf.johannesburg_email }}">{{
                        page.acf.johannesburg_email
                      }}</a>
                    </p>
                    <p>
                      <strong>Physical address</strong><br /><span
                        [innerHTML]="page.acf.johannesburg_physical_address"
                      ></span></p>
                      
                      <a
                        [href]="page.acf.johannesburg_google_map_url"
                        class="text-deep-pink"
                        >[view map]</a
                      >
                    
                    <!--p>
                      Postal address<br />
                      {{ page.acf.postal_address }}
                    </p-->
                  </div>
                </div>

                <div class="box-2 padding-5px-all">
                 <div class="box-2-content padding-25px-all">
                    <!--p>
                      <input type="checkbox" class="robot-check" /> I’m not a  robot
                    </p -->
                   <p class="no-margin-bottom">
                      <label class="check-box"> I’m not a robot
  <input type="checkbox"  class="robot-check">
  <span class="checkmark"></span>
</label>
                      <!-- Test closed --></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end Contact us box item -->
    </div>
  </div>
</section>
<!-- end about agency section -->
