<div
  class="row sm-margin-four-bottom xs-margin-30px-bottom wow fadeInUp padding-30px-top about-sec"
  data-wow-delay="0.6s"
  data-aos="fade-up"
>
  <div class="row1">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="bg-white text-center">
        <h2 class="section-heading">Investment Approach</h2>
      </div>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="main-content" *ngFor="let investment of investments">
        <div
          class="bg-white  padding-45px-all sm-padding-15px-all inner-match-height {{investment.heading.replace(' ','-') | lowercase}}"
        >
          <p class="text-deep-pink">{{ investment.heading }}</p>
          <p class="text-light-blue text-italic" 
            [innerHTML]="investment.idea">
          </p>

          <p
            class="p-text"
            [innerHTML]="investment.about_us_investment_approach_content"
          ></p>
          <div class="padding-30px-top text-center">
            <a [href]="" class="more-btn mb_30 read-more">More</a>
          </div>
          <div [innerHTML]="investment.video"></div>
        </div>
      </div>
    </div>
  </div>
</div>
