.p-text {
  padding: 20px;
  text-align: justify;
}
.heading {
  margin-left: 40px;
  font-style: inherit;
  color: #e26f2b;
  font-weight: 600;
  font-size: 21px;
}
.idea {
  margin-left: 45px;
  font-style: italic;
  color: green;
  font-weight: 400;
  font-family: inherit;
}
.read-more {
  margin-bottom: 13px;
}
.section-heading {
  margin-bottom: 14 3px;
}
