ul.fund-tabs {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 25px;
}
ul.fund-tabs li {
  background: #fff;
  color: #656565;
  display: inline-block;
  padding: 10px 0;
  cursor: pointer;
  margin: 0 10px;
  border-bottom: 2px solid #fff;
  font-size: 18px;
    font-weight: 700;
}
ul.fund-tabs li:first-child {
  margin-left: 0;
}
ul.fund-tabs li.current {
  background: #fff;
  color: #b60c2f;
  border-bottom: 2px dotted #b60c2f;
}
.fund-tab-content {
  display: none;
  background: #fff;
  padding: 15px 0;
  color: #656565;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
}
.fund-tab-content p{
  background: #fff;
  padding: 15px 0;
  color: #656565;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
}
.fund-tab-content .red {
  color: #b60c2f;
}
.fund-tab-content.current {
  display: inherit;
}
.get-tab-data {
  line-height: 1.5;
}
.blanced-fund-table {
  border-collapse: collapse;
  border: 0;
}
.blanced-fund-table th {
  background: #c6dddb;
  border-left: 2px solid #fff !important;
  border-right: 2px solid #fff !important;
  padding: 10px 15px;
  color: #656565;
  text-align: left;
  border: 0;
}
.blanced-fund-table td {
  background: #e3edec;
  border-left: 2px solid #fff !important;
  border-right: 2px solid #fff !important;
  padding: 10px 15px;
  color: #58595b;
  text-align: left;
  border: 0;
}
.price-section {
  max-height: 500px;
  overflow-y: auto;
}
.latest ul {
  list-style-type: none;
  padding: 0px;
}
.latest ul li {
  display: inline-block;
  padding: 6px;
  background-color: #c6dddb;
}
.right-li {
  float: right;
}
.amt {
  color: red;
  font-family: inherit;
}
.more-btn {
  padding: 7px 59px 7px 20px !important;
}
