<div
  class="col-md-12 col-sm-12 col-xs-12 sm-margin-four-bottom xs-margin-30px-bottom wow fadeInUp padding-30px-top"
  data-wow-delay="0.6s"
>
  <div class="bg-white text-center" data-aos="fade-up">
    <h2>Our fund range</h2>
    <div
      class="padding-45px-all sm-padding-15px-all inner-match-height margin-45px-lr xs-margin-20px-lr padding-100px-lr xs-no-padding-lr"
    >
      <a href="javascript:void(0);" class="padding-10px-all"
        ><span class="link_on">SOUTH AFRICAN FUNDS</span></a
      >
      |
      <a href="javascript:void(0);" class="padding-10px-all"
        ><span class="link_off">GLOBAL FUNDS</span></a
      >
      <p class="padding-30px-top">
        We offer a range of complementary equity and multi-asset class unit
        trust funds that are clearly differentiated by expected risk and return
        characteristics
      </p>
    </div>

    <div
      class="fund-range-graph-area margin-45px-lr xs-margin-20px-lr margin-100px-lr xs-no-margin-lr"
    >
      <div class="row">
        <div
          class="col-md-4 wow fadeInLeft"
          data-wow-delay="0.4s"
          data-aos="slide-right"
        >
          <div class="fund-range-graph-title">Equity Alpha fund</div>
          <div class="fund-range-graph bg-light-green margin-30px-bottom">
            <img src="assets/images/EAF.png" />
          </div>
        </div>
        <div
          class="col-md-4 wow fadeInUp"
          data-wow-delay="0.4s"
          data-aos="slide-up"
        >
          <div class="fund-range-graph-title">Balanced fund</div>
          <div class="fund-range-graph bg-light-green margin-30px-bottom">
            <img src="assets/images/BF.png" />
          </div>
        </div>
        <div
          class="col-md-4 wow fadeInLeft"
          data-wow-delay="0.4s"
          data-aos="slide-right"
        >
          <div class="fund-range-graph-title">Protector fund</div>
          <div class="fund-range-graph bg-light-green margin-30px-bottom">
            <img src="assets/images/PF.png" />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">&nbsp;</div>
        <div
          class="col-md-4 wow fadeInRight"
          data-wow-delay="0.4s"
          data-aos="slide-left"
        >
          <div class="fund-range-graph-title">Stable fund</div>
          <div class="fund-range-graph bg-light-green margin-20px-bottom">
            <img src="assets/images/SF.png" />
          </div>
        </div>
      </div>
      <div
        class="fund-range-btn-holder row wow fadeInUp"
        data-wow-delay="0.6s"
        data-aos="fade-right"
      >
        <div class="col-md-6 col-sm-6 col-xs-12 text-right padding-5px-bottom">
          <a href="#" class="plateform-btn">PLATFORMS</a>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12 text-left">
          <a href="#" class="form-btn">FORMS</a>
        </div>
      </div>
    </div>
  </div>
</div>
