<div
  class="row sm-margin-four-bottom xs-no-margin-bottom wow fadeInUp padding-30px-top"
  data-wow-delay="0.6s"
  data-aos="fade-up"
>
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="bg-white text-center">
      <h2>Thinking Deeply</h2>
    </div>
  </div>
  <div class="col-md-12 col-sm-12 col-xs-12">
    <!-- <div class="row"> -->
    <div
      class="bg-white text-center padding-30px-all sm-padding-15px-all inner-match-height"
    >
      <p class="p-text" [innerHTML]="deeplyThink.details"></p>
    </div>
    <!-- </div> -->
  </div>

  <div class="col-md-12 col-sm-12 col-xs-12" style="height:20px"></div>
  <div
    class="col-md-12 col-sm-12 col-xs-12 margin-40px-bottom margin-20px-top xs-margin-10px-top xs-margin-30px-bottom text-center"
  >
    <a
      href="about-us/meet-our-leaders"
      class="btn-meet-diverse-team"
      style="align:center"
      ><span>MEET OUR LEADERS</span></a
    >
  </div>
</div>
