<div class="container margin-100px-bottom">
  <div class="margin-100px-lr xs-no-margin-lr">
    <h2>Frequently asked questions</h2>
    <div class="row equalize sm-equalize-auto">
      <div class="col-md-12 col-sm-12 col-xs-12 display-table wow fadeInUp">
        <div
          class="display-table-cell-vertical-middle md-padding-ten-all sm-padding-six-all xs-no-padding-tb xs-no-padding-lr"
        >
          <div class="panel-group accordion-style2" id="accordion" *ngIf="faqs">
            <!-- <div class="panel panel-default">
              <div class="panel-heading">
                <a
                  class="accordion-toggle"
                  data-toggle="collapse"
                  data-parent="#accordion"
                  href="#collapseOne"
                >
                  <div class="panel-title">
                    <span
                      class="alt-font font-weight-600 text-deep-pink tab-tag"
                      >01</span
                    >
                    <span
                      class="text-extra-dark-gray xs-width-80 display-inline-block"
                      >Unique and bold website design</span
                    >
                    <div class="indicator faq-minus pull-right"></div>
                  </div>
                </a>
              </div>
              <div id="collapseOne" class="panel-collapse collapse in">
                <div class="panel-body">
                  Lorem Ipsum is simply dummy text of the printing and
                  typesetting industry. Lorem Ipsum has been the industry's
                  standard dummy text ever since the 1500s, when an unknown
                  printer took a galley of type and scrambled it to make a type
                  specimen book.
                </div>
              </div>
            </div> -->

            <!-- start tab content -->
            <div
              class="panel panel-default"
              *ngFor="let faq of faqs; let i = index"
            >
              <div class="panel-heading">
                <a
                  class="accordion-toggle"
                  data-toggle="collapse"
                  data-parent="#accordion"
                  href="#collapseTwo-{{ i }}"
                >
                  <div class="panel-title">
                    <span
                      class="alt-font font-weight-600 text-deep-pink tab-tag"
                      >0{{ i + 1 }}</span
                    >
                    <span
                      class="text-extra-dark-gray xs-width-80 display-inline-block"
                      [innerHTML]="faq.question_label"
                    ></span>
                    <div class="indicator faq-plus pull-right"></div>
                  </div>
                </a>
              </div>
              <div id="collapseTwo-{{ i }}" class="panel-collapse collapse">
                <div class="panel-body">
                  <!-- Lorem Ipsum is simply dummy text of the printing and
                  typesetting industry. Lorem Ipsum has been the industry's
                  standard dummy text ever since the 1500s, when an unknown
                  printer took a galley of type and scrambled it to make a type
                  specimen book. -->
                  {{ faq.answer_label }}
                </div>
              </div>
            </div>
            <!-- end tab content -->
          </div>
          <div class="padding-30px-top padding-30px-bottom text-center">
            <a href="#" target="_blank" class="more-btn">MORE</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
