<div class="container">
  <div class="row" *ngIf="shariaCerticate">
    <div class="col-md-12 col-sm-12">
      <div
        class="col-md-4"
        *ngFor="let sharia of shariaCerticate.acf.sharia_image"
      >
        <div class="shariya-light-green">
          
          <img [src]="sharia.sharia_image.url" />
          <a [routerLink]="'/' + sharia.sharia_image_url">
          <div class="text-title">Our Sharia Board</div>
        </a>
        </div>
      </div>
    </div>
  </div>
</div>
