<div class="container">
  <div class="row margin-85px-lr" *ngIf="shariaCerticate">
    <div class="col-md-12 col-sm-12">
      <div
        class="col-md-4 col-sm-4 col-xs-12 sm-margin-four-bottom xs-margin-30px-bottom text-center wow fadeInLeft"
        *ngFor="let sharia of shariaCerticate.acf.sharia_image"
      > <a [routerLink]="'/' + sharia.sharia_image_url">
        <div class="light-green-box">         
            <img [src]="sharia.sharia_image.url" />
            <div class="text-title">{{ sharia.title }}</div>         
        </div>
	   </a>
      </div>
    </div>
  </div>
</div>
