<div class="complete-fund-table">
  <table border="0" cellpadding="0" cellspacing="0">
    <tr>
      <th></th>
      <th>MONTHLY FACT SHEET</th>
      <th>QUARTERLY FACT SHEET</th>
      <th>QUARTERLY COMMENTARY</th>
      <th>ARCHIVE</th>
    </tr>
    <tr>
      <td colspan="5" class="high-light">South African funds</td>
    </tr>

    <tr
      *ngFor="let tdata of tableDate.acf.south_african_funds; let i = index"
      [ngClass]="i % 2 == 0 ? 'bg-white' : 'light-bg'"
    >
      <td>{{ tdata.fund_name }}</td>
      <td>
        <a [href]="'/' + tdata.monthly_fact_sheet"
          ><img src="assets/images/icon-1.png"
        /></a>
      </td>
      <td>
        <a [href]="tdata.quarterly_commentary"
          ><img src="assets/images/icon-1.png"
        /></a>
      </td>
      <td>
        <a [href]="tdata.quarterly_fact_sheet"
          ><img src="assets/images/icon-1.png"
        /></a>
      </td>
      <td>
        <a [href]="tdata.archive"><img src="assets/images/icon-2.png"/></a>
      </td>
    </tr>

    <tr class="bg-white">
      <td></td>
      <td><img src="assets/images/icon-3.png" /> full pack</td>
      <td><img src="assets/images/icon-3.png" /> full pack</td>
      <td><img src="assets/images/icon-3.png" /> full pack</td>
      <td></td>
    </tr>

    <tr>
      <td colspan="5" class="high-light">Sharia funds</td>
    </tr>
    <tr
      *ngFor="let tdata of tableDate.acf.sharia_funds; let i = index"
      [ngClass]="i % 2 == 0 ? 'bg-white' : 'light-bg'"
    >
      <td>{{ tdata.fund_name }}</td>
      <td>
        <a [href]="tdata.monthly_fact_sheet"
          ><img src="assets/images/icon-1.png"
        /></a>
      </td>
      <td>
        <a [href]="tdata.quarterly_commentary"
          ><img src="assets/images/icon-1.png"
        /></a>
      </td>
      <td>
        <a [href]="tdata.quarterly_fact_sheet"
          ><img src="assets/images/icon-1.png"
        /></a>
      </td>
      <td>
        <a [href]="tdata.archive"><img src="assets/images/icon-2.png"/></a>
      </td>
    </tr>

    <tr></tr>
    <tr>
      <td></td>
      <td><img src="assets/images/icon-3.png" /> full pack</td>
      <td><img src="assets/images/icon-3.png" /> full pack</td>
      <td><img src="assets/images/icon-3.png" /> full pack</td>
      <td></td>
    </tr>

    <tr>
      <td colspan="5" class="high-light">Tax free fund</td>
    </tr>
    <tr
      *ngFor="let tdata of tableDate.acf.tax_free_funds; let i = index"
      [ngClass]="i % 2 == 0 ? 'bg-white' : 'light-bg'"
    >
      <td>{{ tdata.fund_name }}</td>
      <td>
        <a [href]="tdata.monthly_fact_sheet"
          ><img src="assets/images/icon-1.png"
        /></a>
      </td>
      <td>
        <a [href]="tdata.quarterly_commentary"
          ><img src="assets/images/icon-1.png"
        /></a>
      </td>
      <td>
        <a [href]="tdata.quarterly_fact_sheet"
          ><img src="assets/images/icon-1.png"
        /></a>
      </td>
      <td>
        <a [href]="tdata.archive"><img src="assets/images/icon-2.png"/></a>
      </td>
    </tr>

    <tr class="bg-white">
      <td></td>
      <td><img src="assets/images/icon-3.png" /> full pack</td>
      <td><img src="assets/images/icon-3.png" /> full pack</td>
      <td><img src="assets/images/icon-3.png" /> full pack</td>
      <td></td>
    </tr>

    <td colspan="5" class="high-light">Global Fund</td>

    <tr
      *ngFor="let tdata of tableDate.acf.global_funds; let i = index"
      [ngClass]="i % 2 == 0 ? 'bg-white' : 'light-bg'"
    >
      <td>{{ tdata.fund_name }}</td>
      <td>
        <a [href]="tdata.monthly_fact_sheet"
          ><img src="assets/images/icon-1.png"
        /></a>
      </td>
      <td>
        <a [href]="tdata.quarterly_commentary"
          ><img src="assets/images/icon-1.png"
        /></a>
      </td>
      <td>
        <a [href]="tdata.quarterly_fact_sheet"
          ><img src="assets/images/icon-1.png"
        /></a>
      </td>
      <td>
        <a [href]="tdata.archive"><img src="assets/images/icon-2.png"/></a>
      </td>
    </tr>
    <tr>
      <td></td>
      <td><img src="assets/images/icon-3.png" /> full pack</td>
      <td><img src="assets/images/icon-3.png" /> full pack</td>
      <td><img src="assets/images/icon-3.png" /> full pack</td>
      <td></td>
    </tr>
  </table>
</div>
