<div *ngIf="page && page.aboutStatus">
  <section
    class="wow fadeIn no-padding main-slider mobile-height top-space"
    *ngIf="page && page.aboutStatus"
  >
    <app-slider [sliders]="page.acf.home_slider"></app-slider>
  </section>
  <div class="container" *ngIf="page && page.aboutStatus">
    <section style="padding:0px;">
      <app-unconventional-thinking
        [unconventionalThink]="page.acf"
      ></app-unconventional-thinking>
    </section>
    <section style="padding:0px">
      <app-common [fundDesign]="page.acf"></app-common>
    </section>
    <section style="padding:0px;">
      <app-investment-approch-about
        [investments]="page.acf.about_us_investment_approach"
      ></app-investment-approch-about>
    </section>
    <section style="padding:0px;">
      <app-common [independent]="page.acf"></app-common>
    </section>
    <section style="padding:0px;">
      <div class="row">
        <app-common [owners]="page.acf"></app-common>
      </div>
    </section>
  </div>
  <section style="padding:0px;" class="our-history-area">
    <div class="container" *ngIf="page">
      <div class="col-md-10 col-md-offset-1">
        <app-common [history]="page.acf"></app-common>
      </div>
    </div>
  </section>
  <section class="our-culture-area">
    <div class="container" *ngIf="page">
      <div class="col-md-10 col-md-offset-1">
        <app-common [our_culture]="page.acf"></app-common>
      </div>
    </div>
  </section>
  <section class="responsible-investing-area" *ngIf="page">
    <div class="container">
      <div class="col-md-10 col-md-offset-1">
        <app-common [responsible]="page.acf"></app-common>
      </div>
    </div>
  </section>
  <section class="corporate-social-area margin-40px-top" *ngIf="page">
    <div class="container">
      <div class="col-md-10 col-md-offset-1">
        <app-common [social_corporate]="page.acf"></app-common>
        <div class="corporate-slider">
          <app-slider [sliders]="page.acf.corporate_slider"></app-slider>
        </div>
      </div>
    </div>
  </section>
  <section class="committed-transformation-area " *ngIf="page">
    <div class="container">
      <div class="col-md-10 col-md-offset-1">
        <app-common [transformation]="page.acf"></app-common>
      </div>
    </div>
  </section>
</div>
<!-- Saria Page section -->
<div *ngIf="page" [ngStyle]="{ display: page.saria ? block : none }">
  <section
    class="wow fadeIn no-padding main-slider mobile-height top-space"
    *ngIf="page && page.saria"
  >
    <app-slider [sliders]="page.acf.home_slider"></app-slider>
  </section>
  <div class="container">
    <section class="wow fadeIn" *ngIf="page && page.saria">
      <app-feature-box [DataSets]="page"></app-feature-box>
    </section>
  </div>
  <section class="riba-background" *ngIf="page && page.saria">
    <div class="container">
      <app-saria-common [reba]="page"></app-saria-common>
    </div>
  </section>
  <div class="container" *ngIf="page && page.saria">
    <section class="bg-white" style="margin-top:20px;">
      <app-fund-range [FundRange]="page"></app-fund-range>
    </section>
    <section class="how-to-invest bg-white" style="margin-top:20px;">
      <app-invest-slider
        [dataset]="page"
        style="padding:0px;"
      ></app-invest-slider>
    </section>
  </div>
  <section
    class="sharia-investment-background"
    *ngIf="page && page.saria"
    style="margin-top:20px;"
  >
    <div class="container">
      <app-saria-common [shariaInvest]="page"></app-saria-common>
    </div>
  </section>
  <section
    class="sharia-investment-process-background"
    *ngIf="page && page.saria"
    style="margin-top:20px;"
  >
    <div class="container">
      <app-saria-common [investProcess]="page"></app-saria-common>
    </div>
  </section>
  <section
    class="screen-process-background"
    *ngIf="page && page.saria"
    style="margin-top:20px;"
  >
    <div class="container">
      <app-saria-common [screenProcess]="page"></app-saria-common>
    </div>
  </section>

  <section *ngIf="page && page.saria">
    <div class="container">
      <app-sharia-certificate [shariaCerticate]="page"></app-sharia-certificate>
    </div>
  </section>
  <section *ngIf="page && page.saria">
    <div class="container">
      <div class="col-md-12">
        <h2>Podcast</h2>
      </div>

      <div class="col-md-12">
        <app-podcast-slider [sliders]="page.acf"></app-podcast-slider>
      </div>
      <div class="col-md-4 col-md-offset-4">
        <a [href]="" class="more-btn read-more text-center margin-35px-top ">
          PODCAST ARCHIVE</a
        >
      </div>

      <!-- <app-saria-common [podcast]="page"></app-saria-common> -->
    </div>
  </section>

  <section *ngIf="page && page.saria" style="padding: 0px;">
    <div class="container">
      <div class="col-md-12">
        <app-thought-financial-adviser
          [financialAdviser]="page"
        ></app-thought-financial-adviser>
      </div>
    </div>
  </section>
</div>

<!-- End sharia page  -->

<!--@start Fund range-->
<section
  class="wow fadeIn no-padding main-slider mobile-height top-space"
  *ngIf="page && page.ourfunds"
>
  <app-slider [sliders]="page.acf.home_slider"></app-slider>
</section>
<div class="container" *ngIf="page && page.ourfunds">
  <section>
    <app-fund-range [FundRange]="page"></app-fund-range>
  </section>
  <section style="padding:15px 0 !important;">
    <div class="col-md-12 col-sm-12" *ngIf="page && page.ourfunds">
      <div
        class="col-md-4 col-md-offset-1"
        *ngFor="let image of page.acf.financial_adviser_image"
      >
        <div style="margin-left:0px;">
          <img [src]="image.image1.url" />
        </div>
      </div>
    </div>
  </section>
  <section style="padding:15px 0 !important;">
    <app-financial-image-two [imageTwo]="page"></app-financial-image-two>
  </section>
</div>
<section
  class="border-none no-padding wow fadeIn faq"
  *ngIf="page && page.ourfunds"
>
  <div class="container">
    <app-faq [faqs]="faq"></app-faq>
  </div>
</section>

<!-- meet our team section -->
<div *ngIf="page && page.ourteamStatus">
  <section *ngIf="page" style="margin-top:40px;">
    <app-meet-our-team [meetOurTeam]="page"></app-meet-our-team>
  </section>
</div>

<!-- end meet our team section -->

<!-- FAQ Details  -->
<section *ngIf="page && page.faqStatus" style="margin-top:100px;">
  <app-faq-detail [faqs]="page"></app-faq-detail>
</section>

<!-- End FAQ Detail -->

<!-- Insight Page start-->
<div class="container" *ngIf="page && page.insightStatus">
  <br /><br /><br /><br /><br />
  <div
    class="row sm-margin-four-bottom xs-margin-30px-bottom wow fadeInUp padding-30px-top"
    data-wow-delay="0.6s"
    data-aos="fade-up"
  >
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div
        class="bg-white text-center "
        [innerHtml]="page.content.rendered"
      ></div>
    </div>
	<!-- Add Section -->

    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="bg-white text-center year-list">
        <ul>
        <li class="active"><a href="#">2019</a></li>
        <li><a href="#">2018</a></li>
        <li><a href="#">2017</a></li>
        <li><a href="#">2016</a></li>
        <li><a href="#">2014</a></li>
        <li><a href="#">2013</a></li>
        </ul>
     </div>
    </div>
    
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="bg-white year-details">
        <div class="row equalize sm-equalize-auto">
                    <div class="col-md-12 col-sm-12 col-xs-12 display-table wow fadeInUp">
                        <div class="display-table-cell-vertical-middle md-padding-ten-all sm-padding-six-all xs-no-padding-tb xs-no-padding-lr">
                            <div class="panel-group accordion-style2" id="accordion">
                                <!-- start tab content -->
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                            <div class="panel-title">
                                                <span class="text-extra-dark-gray xs-width-80 display-inline-block">May 2019</span>
                                                <div class="indicator faq-minus pull-right"></div>
                                            </div>
                                        </a>
                                    </div>
                                    <div id="collapseOne" class="panel-collapse collapse in">
                                        <div class="panel-body">
                                          <div class="title">Libero id quisque commodo</div>
                                          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                                          <div class="date">May 2019</div>
                                          <div class="title">Libero id quisque commodo</div>
                                          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>

                                          <div class="date">April 2019</div>
                                          <div class="title">Libero id quisque commodo</div>
                                          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- end tab content -->
                                <!-- start tab content -->
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                            <div class="panel-title">
                                                <span class="text-extra-dark-gray xs-width-80 display-inline-block">April 2019</span>
                                                <div class="indicator faq-plus pull-right"></div>
                                            </div>
                                        </a>
                                    </div>
                                    <div id="collapseTwo" class="panel-collapse collapse">
                                        <div class="panel-body">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</div>
                                    </div>
                                </div>
                                <!-- end tab content -->
                                <!-- start tab content -->
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                                            <div class="panel-title">
                                                <span class="text-extra-dark-gray xs-width-80 display-inline-block">March 2019</span>
                                                <div class="indicator faq-plus pull-right"></div>
                                            </div>
                                        </a>
                                    </div>
                                    <div id="collapseThree" class="panel-collapse collapse">
                                        <div class="panel-body">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</div>
                                    </div>
                                </div>
                                <!-- end tab content -->
                                <!-- start tab content -->
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapsefour">
                                            <div class="panel-title">
                                                <span class="text-extra-dark-gray xs-width-80 display-inline-block">February 2019</span>
                                                <div class="indicator faq-plus pull-right"></div>
                                            </div>
                                        </a>
                                    </div>
                                    <div id="collapsefour" class="panel-collapse collapse">
                                        <div class="panel-body">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</div>
                                    </div>
                                </div>
                                <!-- end tab content -->
                                <!-- start tab content -->
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapsefive">
                                            <div class="panel-title">
                                                <span class="text-extra-dark-gray xs-width-80 display-inline-block">January 2019</span>
                                                <div class="indicator faq-plus pull-right"></div>
                                            </div>
                                        </a>
                                    </div>
                                    <div id="collapsefive" class="panel-collapse collapse">
                                        <div class="panel-body">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</div>
                                    </div>
                                </div>
                                <!-- end tab content -->
                            </div>

                        </div>
                    </div>
                    
                </div>
     </div>
    </div>
    <!-- Add Section Closed -->
    <div class="col-md-12" *ngIf="page && page.insightStatus">
      <h2>
        Podcast
      </h2>
    </div>
    <div
      class="col-md-12 podcost-div"
      *ngIf="page && page.insightStatus"
      [innerHTML]="page.acf.podcast[0].podcast_video"
    ></div>
  <!-- </div> -->
  <div class="row">
    <app-financial-image-two [imageTwo]="page"></app-financial-image-two>
  </div>
</div>
<!-- end insight-->
