<div *ngIf="page && page.aboutStatus">
  <section
    class="wow fadeIn no-padding main-slider mobile-height top-space"
    *ngIf="page && page.aboutStatus"
  >
    <app-slider [sliders]="page.acf.home_slider"></app-slider>
  </section>
  <div class="container" *ngIf="page && page.aboutStatus">
    <section style="padding:0px;">
      <app-unconventional-thinking
        [unconventionalThink]="page.acf"
      ></app-unconventional-thinking>
    </section>
    <section style="padding:0px">
      <app-common [fundDesign]="page.acf"></app-common>
    </section>
    <section style="padding:0px;">
      <app-investment-approch-about
        [investments]="page.acf.about_us_investment_approach"
      ></app-investment-approch-about>
    </section>
    <section style="padding:0px;">
      <app-common [independent]="page.acf"></app-common>
    </section>
    <section style="padding:0px;">
      <div class="row">
        <app-common [owners]="page.acf"></app-common>
      </div>
    </section>
  </div>
  <section style="padding:0px;" class="our-history-area">
    <div class="container" *ngIf="page">
      <div class="col-md-10 col-md-offset-1">
        <app-common [history]="page.acf"></app-common>
      </div>
    </div>
  </section>
  <section class="our-culture-area">
    <div class="container" *ngIf="page">
      <div class="col-md-10 col-md-offset-1">
        <app-common [our_culture]="page.acf"></app-common>
      </div>
    </div>
  </section>
  <section class="responsible-investing-area" *ngIf="page">
    <div class="container">
      <div class="col-md-10 col-md-offset-1">
        <app-common [responsible]="page.acf"></app-common>
      </div>
    </div>
  </section>
  <section class="corporate-social-area margin-40px-top" *ngIf="page">
    <div class="container">
      <div class="col-md-10 col-md-offset-1">
        <app-common [social_corporate]="page.acf"></app-common>
        <div class="corporate-slider">
          <app-slider [sliders]="page.acf.corporate_slider"></app-slider>
        </div>
      </div>
    </div>
  </section>
  <section class="committed-transformation-area " *ngIf="page">
    <div class="container">
      <div class="col-md-10 col-md-offset-1">
        <app-common [transformation]="page.acf"></app-common>
      </div>
    </div>
  </section>
</div>
<!-- Saria Page section -->
<div *ngIf="page" [ngStyle]="{ display: page.saria ? block : none }">
  <section
    class="wow fadeIn no-padding main-slider mobile-height top-space"
    *ngIf="page && page.saria"
  >
    <app-slider [sliders]="page.acf.home_slider"></app-slider>
  </section>
  <div class="container">
    <section class="wow fadeIn" *ngIf="page && page.saria">
      <app-feature-box [DataSets]="page"></app-feature-box>
    </section>
  </div>
  <section class="riba-background" *ngIf="page && page.saria">
    <div class="container">
      <app-saria-common [reba]="page"></app-saria-common>
    </div>
  </section>
  <div class="container" *ngIf="page && page.saria">
    <section class="bg-white" style="margin-top:40px; padding-top: 0">
      <app-fund-range [FundRange]="page"></app-fund-range>
    </section>
    <section class="how-to-invest bg-white" style="margin-top:40px;">
      <app-invest-slider
        [dataset]="page"
        style="padding:0px;"
      ></app-invest-slider>
    </section>
  </div>
  <section
    class="sharia-investment-background"
    *ngIf="page && page.saria"
    style="margin-top:20px;"
  >
    <div class="container">
      <app-saria-common [shariaInvest]="page"></app-saria-common>
    </div>
  </section>
  <section
    class="sharia-investment-process-background"
    *ngIf="page && page.saria"
    style="margin-top:20px;"
  >
    <div class="container">
      <app-saria-common [investProcess]="page"></app-saria-common>
    </div>
  </section>
  <section
    class="screen-process-background"
    *ngIf="page && page.saria"
    style="margin-top:20px;"
  >
    <div class="container">
      <app-saria-common [screenProcess]="page"></app-saria-common>
    </div>
  </section>

  <section *ngIf="page && page.saria">
    <div class="container">
      <app-sharia-certificate [shariaCerticate]="page"></app-sharia-certificate>
    </div>
  </section>
  <section *ngIf="page && page.saria">
    <div class="container">
      <div class="col-md-12">
        <h2>Podcast</h2>
      </div>

      <div class="col-md-12">
        <app-podcast-slider [sliders]="page.acf"></app-podcast-slider>
      </div>
      <div class="col-md-4 col-md-offset-4">
        <a
          routerLink="/sharia-investor/podcast-archive"
          class="more-btn read-more text-center margin-35px-top "
        >
          PODCAST ARCHIVE</a
        >
      </div>

      <!-- <app-saria-common [podcast]="page"></app-saria-common> -->
    </div>
  </section>

  <section *ngIf="page && page.saria" style="padding: 0px;">
    <div class="container">
      <div class="col-md-12">
        <app-thought-financial-adviser
          [financialAdviser]="page"
        ></app-thought-financial-adviser>
      </div>
    </div>
  </section>
</div>

<!-- End sharia page  -->

<!--Sharia Board start-->
<div *ngIf="page && page.shariaBoardStatus">
  <app-slider [sliders]="page.acf.home_slider"></app-slider>
</div>
<div class="container" *ngIf="page && page.shariaBoardStatus">
  <app-sharia-board [shariaContent]="page"></app-sharia-board>
</div>
<!--Sharia board End-->

<!--@start Fund range-->
<section
  class="wow fadeIn no-padding main-slider mobile-height top-space"
  *ngIf="page && page.ourfunds"
>
  <app-slider [sliders]="page.acf.home_slider"></app-slider>
</section>
<div class="container" *ngIf="page && page.ourfunds">
  <section>
    <app-fund-range [FundRange]="page"></app-fund-range>
  </section>
  <section style="padding:0 !important; margin: -15px 0">
    <div class="col-md-12 col-sm-12" *ngIf="page && page.ourfunds">
      <div class="col-md-offset-3">
        <div
          class="col-md-4"
          *ngFor="let image of page.acf.financial_adviser_image"
        >
          <div style="margin-left:0px;">
            <div class="light-green-box">
              <img [src]="image.image1.url" />
              <a [routerLink]="image.image1_url"
                ><div class="text-title">{{ image.title }}</div></a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section style="padding:15px 0 !important;">
    <app-financial-image-two [imageTwo]="page"></app-financial-image-two>
  </section>
</div>
<section
  class="border-none no-padding wow fadeIn faq"
  *ngIf="page && page.ourfunds"
>
  <div class="container">
    <app-faq [faqs]="faq"></app-faq>
  </div>
</section>

<!-- meet our team section -->
<div *ngIf="page && page.ourteamStatus">
  <section *ngIf="page" style="margin-top:40px;">
    <app-meet-our-team [meetOurTeam]="page"></app-meet-our-team>
  </section>
</div>

<!-- end meet our team section -->

<!-- FAQ Details  -->
<section *ngIf="page && page.faqStatus" style="margin-top:100px;">
  <app-faq-detail [faqs]="page"></app-faq-detail>
</section>

<!-- End FAQ Detail -->

<!-- Insight Page start-->
<div class="silders-div" *ngIf="page && page.insightStatus">
  <app-slider [sliders]="page.acf.home_slider"></app-slider>
</div>
<div class="container" *ngIf="page && page.insightStatus">
  <br /><br />
  <div
    class="row sm-margin-four-bottom xs-margin-30px-bottom wow fadeInUp padding-30px-top"
    data-wow-delay="0.6s"
    data-aos="fade-up"
  >
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div
        class="bg-white text-center "
        [innerHtml]="page.content.rendered"
      ></div>
    </div>
    <app-insight-yearwise-data></app-insight-yearwise-data>
    <div class="col-md-12" *ngIf="page && page.insightStatus">
      <h2>
        Podcast
      </h2>
    </div>
    <div
      class="col-md-12 podcost-div"
      *ngIf="page && page.insightStatus"
      [innerHTML]="page.acf.podcast[0].podcast_video"
    ></div>
    <!-- </div>     -->
  </div>
  <div class="col-md-12">
    <app-financial-image-two
      [imageTwo]="page"
      [insightStatus]="page.insightStatus"
    ></app-financial-image-two>
  </div>
  <div class="col-md-12 remove-margin">
    <app-faq
      [faqs]="page.acf['qa-ans']"
      [insightStatus]="page.insightStatus"
    ></app-faq>
  </div>
</div>
<!-- end insight-->
<!-- Annual Report -->
<div class="container" *ngIf="page && page.annualReport">
  <br /><br /><br /><br /><br />
  <div
    class="row sm-margin-four-bottom xs-margin-30px-bottom wow fadeInUp padding-30px-top"
    data-wow-delay="0.6s"
    data-aos="fade-up"
  >
    <div class="col-md-12 col-sm-12 col-xs-12">
      <h2 [innerHTML]="page.title.rendered"></h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="bg-white annual">
        <img
          class="annual-image"
          src="assets/images/annual-report.jpg"
          style="left:37%;"
        />
      </div>
    </div>
    <div class="col-md-12">
      <div class="bg-white annual-link">
        <a [href]="annualReportUrl">Download</a>
      </div>
    </div>
    <div class="col-md-12">
      <div class="bg-white">
        <div class="bg-white text-center year-list year-report-list">
          <ul>
            <li *ngFor="let getYear of page.acf.annual_report">
              <a
                href="javascript:void(0)"
                (click)="getAnnualReport($event, getYear)"
                [ngClass]="{ active: selectedYear == getYear }"
                >{{ getYear.year }}
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end annual Report -->

<!---Quaterly Status-->
<div class="container" *ngIf="page && page.quaterlyStatus">
  <div
    class="row margin-twelve-top sm-margin-four-bottom xs-margin-30px-bottom wow fadeInUp padding-30px-top"
    data-wow-delay="0.6s"
    data-aos="fade-up"
  >
    <div class="col-md-12 col-sm-12 col-xs-12">
      <h2 [innerHTML]="page.title.rendered"></h2>
    </div>
  </div>
  <div class="clearfix"></div>

  <div class="up-image margin-40px-top">
    <ul>
      <li
        *ngFor="let quaterlyData of page.acf.up_quarterly; let i = index"
        [ngClass]="i != 0 ? ((i + 1) % 3 == 0 ? 'row-end' : 'odd') : ''"
      >
        <app-quaterly-card [quaterlyData]="quaterlyData"></app-quaterly-card>
      </li>
    </ul>
  </div>
  <div class="row margin-40px-top">
    <div class="col-md-6 col-md-offset-3">
      <div class="suscribe">
        <a href="#" class="btn-meet-leaders">SUSCRIBE</a>
        <a href="#" class="btn-meet-leaders">UNSUSCRIBE</a>
      </div>
    </div>
  </div>
  <div class="row margin-40px-top quaterly-image-1 margin-40px-bottom">
    <div
      class="col-md-4"
      *ngFor="let quaterly of page.acf.up_quarterly_second_images"
    >
      <a [routerLink]="'/' + quaterly.up_url">
        <img
          class="quaterly-image-2"
          [src]="quaterly.up_image.url"
          width="400"
          height="200"
        />
      </a>
    </div>
  </div>
</div>
<!--End Quaterly status-->
<!-- Start up Quaterly Library -->

<div class="container" *ngIf="page && page.quaterlyLibraryStatus">
  <div class="row margin-twelve-top">
    <h2>{{ page.title.rendered }}</h2>
  </div>
  <div class="row margin-30px-bottom">
    <div class="bg-white">
      <app-up-quaterly-library
        [getQuaterlyImage]="page"
      ></app-up-quaterly-library>
    </div>
  </div>
</div>

<!--Start up Quaterly Library-->

<!-- Podcast Archive -->
<div class="container" *ngIf="page && page.podcastArchiveStatus">
  <div class="row margin-twelve-top">
    <h2>{{ page.title.rendered }}</h2>
  </div>
  <div class="row margin-30px-bottom">
    <div class="bg-white">
      <app-podcast-archive-list [getPodcast]="page"></app-podcast-archive-list>
    </div>
  </div>
</div>
<!-- End Podcast Archive -->

<!-- Glossary page start -->
<div class="container" *ngIf="page && page.glossaryStatus">
  <div class="row margin-twelve-top">
    <h2>Glossary</h2>
  </div>
  <div class="row margin-30px-bottom">
    <app-faq
      [faqs]="page.acf['qa-ans']"
      [glossaryStatus]="page.glossaryStatus"
    ></app-faq>
  </div>
</div>
<!--Glossary Page End -->
<!--Fund Range test  -->

<div class="container" *ngIf="fundRangeTestStatus">
  <div class="row  margin-twelve-top">
    <h2>Fund Range Testing</h2>
  </div>
  <div class="row margin-30px-bottom">
    <app-fund-range-graph></app-fund-range-graph>
  </div>
</div>
<!-- End Fund Range test -->
<!-- Meet Fund  Manager -->
<div class="silder-div" *ngIf="page && page.meetFundManager">
  <app-slider [sliders]="page.acf.home_slider"></app-slider>
  <div class="container">
    <div class="row margin-40px-top">
      <h2>{{ page.title.rendered }}</h2>
    </div>
    <div class="row margin-5px-top">
      <div class="bg-white">
        <div class="content-div" [innerHTML]="page.content.rendered"></div>
      </div>
    </div>
    <div class="row margin-30px-bottom  margin-30px-top">
      <div class=" col-md-8 col-md-offset-2 suscribe">
        <a href="#" class="btn-meet-leaders">PLATFORMS</a>
        <a href="#" class="btn-meet-leaders">INVESTMENT APPROCH</a>
      </div>
    </div>
  </div>
</div>

<!-- end Meet Fund Manager -->
<!-- text-Free-Investing-->
<div class="text-free-investing" *ngIf="page && page.textFreeInvesting">
  <div class="container">
    <div class="row margin-twelve-top">
      <h2>{{ page.title.rendered }}</h2>
    </div>
    <div class="row">
      <div class="bg-white">
        <div class="content-div" [innerHTML]="page.content.rendered"></div>
      </div>
    </div>
    <div class="row margin-20px-top">
      <h2>Tax-free Funds</h2>
    </div>
    <div class="row margin-30px-bottom margin-5px-top ">
      <div class="bg-white" style="padding-top:40px">
        <div
          class="col-md-4 bg-white  wow fadeInLeft"
          data-wow-delay="0.4s"
          *ngFor="let invest of page.acf.tax_free_funds; let i = index"
        >
          <div class="fund-range-graph-title">
            {{ invest.tax_free_funds_title }}
          </div>
          <div class=" bg-light-green margin-30px-bottom">
            <a href="#"><img [src]="invest.tax_free_funds_image_.url"/></a>
          </div>
        </div>
      </div>
    </div>
    <div class="row margin-30px-top">
      <div class="col-md-offset-3">
        <div
          class="col-md-4"
          *ngFor="
            let fadviserImage of page.acf.financial_adviser_image;
            let i = index
          "
        >
          <div class="light-green-box">
            <img [src]="fadviserImage.image1.url" />
            <a [routerLink]="">
              <div class="text-title">
                {{ fadviserImage.title }}
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="row margin-30px-top margin-30px-bottom">
      <div class=" col-md-8 col-md-offset-2 suscribe">
        <a href="#" class="btn-meet-leaders" style="margin-left:70px;"
          >PLATFORMS</a
        >
        <a href="#" class="btn-meet-leaders">INVESTMENT APPROCH</a>
      </div>
    </div>
  </div>
</div>

<!--text-Free-Investing -->

<!--New to Investing -->
<div class="container" *ngIf="page && page.newToInvestingStatus">
  <div class="row margin-twelve-top ">
    <h2>{{ page.title.rendered }}</h2>
  </div>
  <div class="row margin-20px-bottom">
    <div class="bg-white">
      <div class="content-div" [innerHTML]="page.content.rendered"></div>
    </div>
  </div>
  <div class="row">
    <div
      class=" bg-white padding-45px-all sm-padding-15px-all inner-match-height   xs-no-padding-lr"
    >
      <div class="text-center">
        <a
          href="javascript:void(0);"
          (click)="changeSliderData(page.acf.what_is_a_unit_trust, 'unitTrust')"
          class="padding-10px-all ul-tab "
          [ngClass]="activeClickedTab == 'unitTrust' ? 'active' : 'none'"
          ><span>
            WHAT ARE UNIT TRUSTS?
          </span></a
        >
        |
        <a
          href="javascript:void(0);"
          (click)="changeSliderData(page.acf.why_invest, 'whyInvest')"
          class="padding-10px-all ul-tab"
          [ngClass]="activeClickedTab == 'whyInvest' ? 'active' : 'none'"
          ><span>WHY INVEST? </span></a
        >
        |
        <a
          href="javascript:void(0);"
          (click)="
            changeSliderData(page.acf.your_investment_tax, 'taxInvestment')
          "
          class="padding-10px-all ul-tab"
          [ngClass]="activeClickedTab == 'taxInvestment' ? 'active' : 'none'"
          ><span> YOUR INVESTMENT & TAX </span></a
        >
        |
        <a
          href="javascript:void(0);"
          (click)="changeSliderData(page.acf.how_do_invest, 'doInvest')"
          class="padding-10px-all ul-tab"
          [ngClass]="activeClickedTab == 'doInvest' ? 'active' : 'none'"
          ><span>HOW DO I INVEST? </span></a
        >
      </div>
      <div class="row" *ngIf="page && page.newToInvestingStatus">
        <app-invest-slider
          [dataset]="getHowToInvestSlider"
          [fromNewInvesting]="page.newToInvestingStatus"
        ></app-invest-slider>
      </div>
    </div>
  </div>
  <div class="row margin-30px-top margin-30px-bottom">
    <app-faq
      [faqs]="page.acf['qa-ans']"
      [fromNewInvesting]="page.newToInvestingStatus"
    ></app-faq>
  </div>
</div>

<!-- End New to Investing -->
<!--FormDocument start -->
<div class="container" *ngIf="page && page.formDocumentStatus">
  <div class="row margin-twelve-top">
    <h2 [innerHTML]="page.title.rendered"></h2>
  </div>
  <div class="row margin-2px-top">
    <div class="bg-white">
      <div class="content-div" [innerHTML]="page.content.rendered"></div>
    </div>
  </div>
  <div class="row margin-5px-top">
    <div>
      <app-form-document [formHeading]="page"></app-form-document>
    </div>
  </div>
</div>

<!--End FormDocument start-->

<!-- Balance Fund -->
<div class="balance-fund" *ngIf="page && page.balaceFundStatus">
  <app-balance-fund [getBalancedData]="page"></app-balance-fund>
</div>
<!-- End Balance Fund-->
<!--Equity alfa fund-->

<div class="balance-fund" *ngIf="page && page.equityAlphaStatus">
  <app-balance-fund [getBalancedData]="page"></app-balance-fund>
</div>
<div class="balance-fund" *ngIf="page && page.protectorStatus">
  <app-balance-fund [getBalancedData]="page"></app-balance-fund>
</div>
<div class="balance-fund" *ngIf="page && page.globalEquityStatus">
  <app-balance-fund [getBalancedData]="page"></app-balance-fund>
</div>
<div class="balance-fund" *ngIf="page && page.islamicEquityStatus">
  <app-balance-fund [getBalancedData]="page"></app-balance-fund>
</div>
<div class="balance-fund" *ngIf="page && page.islamicbalancedStatus">
  <app-balance-fund [getBalancedData]="page"></app-balance-fund>
</div>
<div class="balance-fund" *ngIf="page && page.islamicHighYieldStatus">
  <app-balance-fund [getBalancedData]="page"></app-balance-fund>
</div>
<div class="balance-fund" *ngIf="page && page.islamicGlobalEquityStatus">
  <app-balance-fund [getBalancedData]="page"></app-balance-fund>
</div>
<div class="balance-fund" *ngIf="page && page.islamicGlobalEquityFeederStatus">
  <app-balance-fund [getBalancedData]="page"></app-balance-fund>
</div>
<div class="balance-fund" *ngIf="page && page.isInstitutionalEquityStatus">
  <app-balance-fund [getBalancedData]="page"></app-balance-fund>
</div>
<div class="balance-fund" *ngIf="page && page.isInstitutionalBondStatus">
  <app-balance-fund [getBalancedData]="page"></app-balance-fund>
</div>
<div class="balance-fund" *ngIf="page && page.isInstitutionalMoneyStatus">
  <app-balance-fund [getBalancedData]="page"></app-balance-fund>
</div>
<div class="balance-fund" *ngIf="page && page.isInstitutionalProtectorStatus">
  <app-balance-fund [getBalancedData]="page"></app-balance-fund>
</div>
<div class="balance-fund" *ngIf="page && page.isInstitutionalStableStatus">
  <app-balance-fund [getBalancedData]="page"></app-balance-fund>
</div>


<!--End Equity alpha fund-->
<!--Complete fund range-->
<section class="wow fadeIn bg-medium-gray-light " style="margin-top:110px" *ngIf="page && page.completeFundRangeStatus">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12 sm-margin-four-bottom xs-margin-30px-bottom wow fadeInUp unconventional-thinking blanced-fund-box" data-wow-delay="0.2s">
          <div class="bg-white text-center">
             <h2>{{page.title.rendered}}</h2>  
             <div class="inner-match-height">
                <div class="padding-45px-all" >
                    <div class="padding-100px-lr" [innerHTML]="page.content.rendered"></div>
                      <app-complete-fund-range [tableDate]="page"></app-complete-fund-range>
                </div>
            </div>    
         </div>
       </div>
     </div>
     <div class="col-md-12  margin-30px-bottom margin-60px-top padding-100px-lr">
        <div class=" complete-fund-btn">
            <a class="btn-meet-leaders" href="#" style="margin-right:10px;">PLATEFORMS</a>
            <a  class="btn-meet-leaders" href="#" style="margin-right:10px;">INVESTMENTS APPROACH</a>
            <a class="btn-meet-leaders" href="#">FUND ARCHIVES</a>
        </div>
    </div>
   </div>
</section>

<!--end complete fund range -->

<!--Fact Sheet Archive-->
<div class="container" *ngIf="page && page.factsheetStatus">
  <div class="row margin-twelve-top">
    <h2>{{ page.title.rendered }}</h2>
  </div>
  <div class="row">
    <app-fact-sheet-archive></app-fact-sheet-archive>
  </div>
</div>
<!--End Fact sheet archive-->
