<!-- <div
  class="col-md-12 col-sm-12 col-xs-12 sm-margin-four-bottom xs-margin-30px-bottom wow fadeInUp padding-30px-top how-to-investe"
  data-wow-delay="0.2s"
>
  <div class="bg-white text-center" *ngIf="dataset">
    <div class="padding-45px-all sm-padding-15px-all inner-match-height">
      <div class="swiper-full-screen swiper-container width-100 white-move">
        <div class="swiper-wrapper">
         
          <div
            class="swiper-slide cover-background"
            style="background:url('assets/images/howitwork-bg.jpg') no-repeat #ececec;"
          >
            <div class="opacity-extra-medium"></div>
            <div class="position-relative one-second-screen xs-height-400px">
              <div class="slider-typography text-center">
                <div class="slider-text-middle-main">
                  <div
                    class="slider-text-top padding-90px-top padding-80px-left xs-padding-40px-lr"
                  >
                    <h3>{{ dataset.acf.how_do_i_invest[0].title }}</h3>
                    <p [innerHTML]="dataset.acf.how_do_i_invest[0].content"></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        
        </div>
      
        <div
          class="swiper-pagination swiper-pagination-white swiper-full-screen-pagination"
        ></div>
        <div class="swiper-button-next swiper-button-black-highlight"></div>
        <div class="swiper-button-prev swiper-button-black-highlight"></div>
      </div>
    </div>
  </div>
</div> -->

<div
  class=" sm-margin-four-bottom xs-margin-30px-bottom wow fadeInUp padding-30px-top  how-to-investe"
  [ngClass]="!fromNewInvesting ? 'col-md-12 col-sm-12 col-xs-12' : 'row'"
  data-wow-delay="0.2s"
>
  <div class="bg-white text-center padding-30px-all" *ngIf="dataset">
    <swiper [config]="config">
      <div class="swiper-wrapper">
        <div
          class="swiper-slide cover-background swiper-slide-duplicate swiper-slide-duplicate-next"
          *ngFor="let slider of slideDatas"
          [ngStyle]="{ background: 'url(' + slider.background_image.url + ')' }"
        >
          <div class="opacity-extra-medium"></div>
          <div
            class="container position-relative one-fourth-screen xs-height-400px"
          >
            <div class="slider-typography text-center">
              <div class="slider-text-middle-main">
                <div
                  class="slider-text-top padding-90px-top padding-80px-left xs-padding-40px-lr"
                >
                  <h3>{{ slider.title }}</h3>
                  <p [innerHTML]="slider.content"></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Add Pagination -->
      <div class="swiper-pagination"></div>
      <!-- Add Arrows -->
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
    </swiper>
  </div>
</div>
