<div class="container">
  <div class="row">
    <div
      class="col-md-12 col-sm-12 col-xs-12 sm-margin-four-bottom xs-margin-30px-bottom wow fadeInUp"
      data-wow-delay="0.6s"
      data-aos="fade-up"
      *ngIf="fadviser"
    >
      <div class="bg-white text-center margin-100px-lr xs-no-margin-lr">
        <h2>{{ fadviser.acf.financial_adviser_title }}</h2>
        <div
          class="financial-adviser-vedio"
          [innerHTML]="fadviser.acf.financial_adviser_content"
        >
          <!--<iframe
            width="920"
            height="415"
            src="https://www.youtube.com/embed/ukzFI9rgwfU"
            frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          ></iframe>-->
          <!-- <img src="assets/images/financial-adviser-vedio.jpg" /> -->
        </div>
      </div>
    </div>
  </div>
  <div
    class="row padding-40px-top margin-85px-lr xs-no-margin-lr"
    *ngIf="fadviser"
  >
    <div
      class="col-md-4 col-sm-4 col-xs-12 sm-margin-four-bottom xs-margin-30px-bottom wow fadeInLeft"
      data-wow-delay="0.6s"
      *ngFor="let fimage of fadviser.acf.financial_adviser_image; let i = index"
      attr.data-aos="{{ animationArr[i] }}"
    > <a [routerLink]="'/' + fimage.image1_url">
      <div class="light-green-box">       
          <img [src]="fimage.image1.url" />
          <div class="text-title">{{ fimage.title }}</div>        
      </div>
	  </a>
    </div>
  </div>

  <div
    class="row padding-40px-tb bg-medium-gray-light home-light-bg margin-40px-top margin-100px-lr xs-margin-40px-lr text-center"
    style="padding-left: 20px; padding-right: 20px"
    *ngIf="fadviser"
  >
    <div
      class="col-md-4 col-sm-4 col-xs-12 sm-margin-four-bottom xs-margin-30px-bottom wow fadeInLeft"
      data-wow-delay="0.6s"
      data-aos="fade-right"
      *ngFor="let fImagesecond of fadviser.acf.financial_adviser_image_second"
    >
      <a [routerLink]="'/' + fImagesecond.url"
        ><img [src]="fImagesecond.second_image.url"
      /></a>
    </div>
    <!-- <div
      class="col-md-4 col-sm-4 col-xs-12 sm-margin-four-bottom xs-margin-30px-bottom wow fadeInLeft"
      data-wow-delay="0.6s"
      data-aos="fade-right"
    >
      <a href=""><img src="assets/images/corporate-brochure.jpg"/></a>
    </div> -->
    <!-- <div
      class="col-md-4 col-sm-4 col-xs-12 sm-margin-four-bottom xs-margin-30px-bottom wow fadeInUp"
      data-wow-delay="0.6s"
    >
      <a href="javascript:void(0);"><img src="assets/images/up-report.jpg"/></a>
    </div> -->
    <!-- <div
      class="col-md-4 col-sm-4 col-xs-12 sm-margin-four-bottom xs-margin-30px-bottom wow fadeInRight"
      data-wow-delay="0.6s"
      data-aos="fade-right"
    >
      <a href="javascript:void(0);"
        ><img src="assets/images/annual-report.jpg"
      /></a>
    </div> -->
  </div>
</div>
